[submodule "Packages/ZenCoding"]
	path = Packages/ZenCoding
	url = git://github.com/zeebo/ZenCoding.git
[submodule "Packages/sublimelint"]
	path = Packages/sublimelint
	url = git://github.com/lunixbochs/sublimelint.git
[submodule "Packages/Theme - Soda"]
	path = Packages/Theme - Soda
	url = git://github.com/buymeasoda/soda-theme.git
[submodule "Packages/TrafPaste"]
	path = Packages/TrafPaste
	url = git://zeeb.us.to/TrafPaste
[submodule "Packages/Subversion"]
	path = Packages/Subversion
	url = git://github.com/burriko/sublime-subversion.git
